* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: white;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    max-width: 90%;
    min-width: 250px;
    aspect-ratio: 3 / 4;
    gap: 1vh;
    padding: 5%;
    background-color: black;
    border-radius: 20px;
}

.display {
    height: 24%;
    width: 100%;
    border-radius: 4px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}

.bottom, .top {
    font-size: clamp(2rem, 4vw, 2.5rem);
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-align: end;
}

.buttons {
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.5vh;
}

button {
    flex: 1;
    aspect-ratio: 1 / 1;
    font-size: clamp(1rem, 4vw, 2.5rem);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1vw;
    border: none;
}

button:hover {
    background-color: #8b8787;
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s ease;
}

.operator, .equals {
    background-color: #FF9500;
}

.clear, .negate, .percent {
    background-color:  #505050;
}

.number, .decimal {
    background-color: #343432d3;
}

.row button:last-child {
    margin-right: 0;
}

.double {
    flex: none;
    width: calc(2 * ((100% - 3 * 1vw) / 4) + 1vw);
    aspect-ratio: auto;
    justify-content: flex-start;
    padding-left: 20px;
}

